@charset "utf-8";

.new-list {
  width: 1000px;
  margin: 0 auto;
}

.new-list-form {
  color: #555555;
}

.new-list-title {
  width: 300px;
  margin-bottom: 25px;
}

.new-list-button {
  background-color: #242f9b;
  color: #ffffff;
  width: 80px;
  height: 40px;
  border-radius: 5px;
}

// 拡大しても見た目に影響しないので，変更しなくてよいと判断
// スマートフォン (320p以上768px未満)
@media screen and (min-width: 320px) and (max-width: 767px) {
  
}

// タブレット (768px以上1200px未満)
@media screen and (min-width: 768px) and (max-width: 1199px) {
  
}
