@charset "utf-8";

.new-task {
  width: 1000px;
  margin: auto auto;
  max-width: 100%; /* 文字が自動で改行されるようになる */
}

.new-task-form {
  color: #555555;
}

.new-task-select-list,
.new-task-title,
.new-task-detail {
  width: 300px;
  margin-bottom: 25px;
}

.new-task-detail {
  height: 200px;
}

.new-task-button {
  background-color: #242f9b;
  color: #ffffff;
  width: 80px;
  height: 40px;
  border-radius: 5px;
  margin-top: 10px;
}

.error-message {
  color: #ff3333;
}

// 拡大しても見た目に影響しないので，変更しなくてよいと判断
// スマートフォン (320p以上768px未満)
@media screen and (min-width: 320px) and (max-width: 767px) {

}

// タブレット (768px以上1200px未満)
@media screen and (min-width: 768px) and (max-width: 1199px) {

}